index-cloud-ens-nuxeo/index-cloud-ens-nuxeo-custom/src/main/resources/schemas/mutualization.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nxs="http://www.nuxeo.org/ecm/schemas/index/mutualization/"
           targetNamespace="http://www.nuxeo.org/ecm/schemas/index/mutualization/">

    <xs:include schemaLocation="base.xsd"/>

    <xs:element name="enable" type="xs:boolean"/>
    <xs:element name="title" type="xs:string"/>
    <xs:element name="keywords" type="nxs:stringList"/>
    <xs:element name="sourceWebId" type="xs:string"/>

</xs:schema>
